snippet imre
import React from 'react';
endsnippet

snippet rfc
import React from 'react';
import styled from 'styled-components';

interface WrapperProps{};

const Wrapper = styled.div<WrapperProps>\`\`;

interface $1Props {};

const $1: React.FC<$1Props> = ({}) => {
	
	return (
		<Wrapper>
		</Wrapper>
	);
};

export default $1;
endsnippet
