snippet imre
import React from 'react';
endsnippet

snippet block
" ---------------------------------------------------------------------------------------
" 단축키
" ---------------------------------------------------------------------------------------
endsnippet
